span, p {
    background-color:#9c61d3;
    
}

.block {
    display :block;
    width: 100px;
    height: 100px
}

.inline {
    display : inline;
    width: 100px;
    height: 100px;
}

.inline-block {
    display : inline-block;
    width: 100px;
    height: 100px;
}
    